@charset "UTF-8";

::-webkit-scrollbar  
{  
    width: 5px;  
    height: 5px;  
    background-color: #FFF;  
}  

::-webkit-scrollbar-thumb  
{  
    border-radius: 2px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #CCC;  
} 

/* 左侧导航栏 */
.nav-dl {
	margin-top: 1px;
	margin-bottom: 0px;
}

.nav-dl dt{
  height: 36px;
  width: 100%;
  padding-left: 20px;
  background: #556;
  font-size: 15px;
  line-height: 36px;
  color: #DDD;
  cursor: pointer;
}

.nav-dl dt:hover {
	background: #505060;
}

.nav-dl dd {
  height: 0px;
  width: 100%;
  padding-left: 25px;
  background: #667;
  line-height: 30px;
  color: #EEE;
  cursor: pointer;
  overflow: hidden;
  
  transition: height 0.5s;
  -moz-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
}

.nav-dl dd:hover {
	background: #556;
}

.dl-act dd{
	height: 30px;
}

/* 响应式导航栏 */
.navbar-toggle {
	background: #667;
}

.navbar-toggle span {
	background: #AAA;
}

@media (min-width: 768px) {
	.navbar-collapse.collapse {
		display: none!important;
	}
}

.navbar-collapse {
	border-top: #667 solid 1px;
}

.navbar-collapse .nav-dl {
	border-top: #667 solid 1px;
	margin-top: 0px;
}

/* 小型设备页数选择 */
#min-pagination {
	text-align: center;
}

#min-pagination a {
	border: 0px;
}