<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yez.wiki.user.dao.ActiveUserDao">
	<resultMap type="com.yez.wiki.entity.user.ActiveUser" id="ActiveUserResultMap">
		<id column="authority_id" property="id" jdbcType="INTEGER"/>
		<result column="number" property="number" jdbcType="INTEGER"/>
		<result column="date" property="date" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="todayActiveUser">
		INSERT INTO t_active_user (number,date)
		VALUES (#{number, jdbcType=INTEGER}, #{date, jdbcType=VARCHAR})
	</insert>
	
	<select id="getRangeActiveUser" resultType="int">
		SELECT number FROM t_active_user
		WHERE date IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="getRangeAvgActiveUser" resultType="int">
		SELECT AVG(number) FROM t_active_user
		WHERE date IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>