<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yez.wiki.user.dao.UserChartMapper">
	<select id="getUserSex" resultType="java.lang.Integer">
		SELECT sex FROM t_user_message
	</select>
	
	<select id="getUserAge" resultType="java.lang.Integer">
		SELECT age FROM t_user_message
	</select>
</mapper>