<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yez.wiki.test.dao.TimeMapper">
	<insert id="insertMap" parameterType="java.util.HashMap">
		INSERT INTO t_test_time (save_time)
		VALUES (#{time, jdbcType=TIMESTAMP})
	</insert>
</mapper>