@charset "UTF-8";
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}

body {
	--mcolor : #556;
	--mcolor-shallow: #667;
	--mcolor-hover: #505060;
}

.model-table thead tr th {
	padding: 3px;
}

.model-table tbody tr td {
	padding: 3px;
}

/*编辑按钮*/
.edit-icon {
	padding: 2px;
	font-size: 12px;
	color: #7FB80E;
	background: #FCFCFC;
	border: #7FB80E solid 1px;
	border-radius: 5px;
}

.edit-icon:hover {
	background: rgba(127,158,15,0.1);
	color: #7FB80E;
}
.edit-icon:focus {
	color: #7FB80E;
}

.hol-but {
	padding: 2px;
	font-size: 12px;
	color: #7FB80E;
	background: #FCFCFC;
	border: #7FB80E solid 1px;
	border-radius: 5px;
}

.hol-but:hover {
	background: rgba(127,158,15,0.1);
	color: #7FB80E;
}

.hol-but:focus {
	color: #7FB80E;
}

.nav-li {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*hr*/
.hr {
	margin: 0px;
	border-color: #CCCCCC;
}